.MessageContextMenu {
  position: absolute;
  font-size: 1rem;

  .danger {
    color: var(--color-error);
    button {
      color: var(--color-error);
      i {
        opacity: 1;
      }
    }
  }
}
