.Composer {
  width: 100%;
  max-width: var(--messages-container-width);
  padding: 0 1rem 1.25rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 10;

  @media (min-width: 1276px) {
    width: calc(100% - var(--right-column-width));

    transform: translate3d(0, 0, 0);
    transition: transform var(--layer-transition);

    body.animation-level-0 & {
      transition: none;
    }

    body.is-right-column-shown & {
      transform: translate3d(calc(var(--right-column-width) / -2), 0, 0);
    }
  }

  @media (max-width: 600px) {
    padding: 0 0.5rem 0.5rem;

    transform: translate3d(0, 0, 0);

    body:not(.transition-locked) & {
      transition: transform var(--layer-transition);
    }

    body.is-symbol-menu-open & {
      transform: translate3d(0, calc(-1 * (var(--symbol-menu-height) + var(--symbol-menu-footer-height))), 0);
    }
  }

  &::before {
    --shadow-color: #84a686;

    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 1.125rem;
    right: 1.125rem;
    height: calc(50%);
    box-shadow: 0 0 .5rem .5rem var(--shadow-color);
    background: var(--shadow-color);

    @media (max-width: 600px) {
      left: 0;
      right: 0;
      --shadow-color: #678a64;

      body.is-symbol-menu-open & {
        --shadow-color: #b4bf9e;
      }
    }

    @media screen and (min-height: 750px) {
      --shadow-color: #759b72;
    }

    @media screen and (min-width: 1276px) {
      body.animation-level-2 & {
        --shadow-color: #97af8e;
      }

      body.animation-level-2.is-right-column-shown & {
        --shadow-color: #84a686;
      }

      @media (min-height: 750px) {
        body.animation-level-2 & {
          --shadow-color: #91a67f;
        }

        body.animation-level-2.is-right-column-shown & {
          --shadow-color: #759b72;
        }
      }
    }
  }

  > .Button {
    flex-shrink: 0;
    margin-left: .5rem;

    @media (max-width: 600px) {
      width: 2.875rem;
      height: 2.875rem;
    }

    .icon-send,
    .icon-microphone-alt,
    .icon-check {
      position: absolute;
    }

    &.cancel {
      position: relative;
      z-index: 1;

      &:hover, &.active {
        background: var(--color-chat-hover);
      }
    }

    &.recording {
      position: relative;
      z-index: 0;
      transition: .1s box-shadow;
    }

    &.send {
      color: var(--color-primary);

      &:active,
      &:focus,
      &:hover {
        color: white;
      }

      .icon-send {
        animation: grow-icon .4s ease-out;
      }

      .icon-microphone-alt,
      .icon-check {
        animation: hide-icon .4s forwards ease-out;
      }

      transition: box-shadow .2s ease-out;
    }

    &.record {
      .icon-microphone-alt {
        animation: grow-icon .4s ease-out;
      }

      .icon-send,
      .icon-check {
        animation: hide-icon .4s forwards ease-out;
      }
    }

    &.edit {
      color: var(--color-primary);

      &:active,
      &:focus,
      &:hover {
        color: white;
      }

      .icon-send,
      .icon-microphone-alt {
        animation: hide-icon .4s forwards ease-out;
      }

      .icon-check {
        animation: grow-icon .4s ease-out;
      }
    }
  }

  .mobile-symbol-menu-button {
    width: 2.875rem;
    height: 2.875rem;
    position: relative;

    .icon-smile,
    .icon-keyboard,
    .Spinner {
      position: absolute;
    }

    .Spinner {
      --spinner-size: 1.5rem;
    }

    .icon-smile {
      animation: grow-icon .4s ease-out;
    }

    .icon-keyboard, .Spinner {
      animation: hide-icon .4s forwards ease-out;
    }

    &.is-loading {
      .Spinner {
        animation: grow-icon .4s ease-out;
      }

      .icon-keyboard, .icon-smile {
        animation: hide-icon .4s forwards ease-out;
      }
    }

    &.menu-opened {
      .icon-keyboard {
        animation: grow-icon .4s ease-out;
      }

      .icon-smile, .Spinner {
        animation: hide-icon .4s forwards ease-out;
      }
    }
  }
}

#message-compose {
  flex-grow: 1;
  max-width: calc(100% - 4rem);
  background: white;
  border-radius: var(--border-radius-messages);
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px rgba(114, 114, 114, 0.25);
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -.1875rem;
    right: -.5625rem;
    width: .5625rem;
    height: 1.25rem;
    // background-image: url('../../../../assets/chat-bubble-white.svg');
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PGZpbHRlciB4PSItNTAlIiB5PSItMTQuNyUiIHdpZHRoPSIyMDAlIiBoZWlnaHQ9IjE0MS4yJSIgZmlsdGVyVW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBpZD0iYSI+PGZlT2Zmc2V0IGR5PSIxIiBpbj0iU291cmNlQWxwaGEiIHJlc3VsdD0ic2hhZG93T2Zmc2V0T3V0ZXIxIi8+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMSIgaW49InNoYWRvd09mZnNldE91dGVyMSIgcmVzdWx0PSJzaGFkb3dCbHVyT3V0ZXIxIi8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAuMDYyMTk2MjQ4MiAwIDAgMCAwIDAuMTM4NTc0MTQ0IDAgMCAwIDAgMC4xODUwMzczNjQgMCAwIDAgMC4xNSAwIiBpbj0ic2hhZG93Qmx1ck91dGVyMSIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0zIDE3aDZWMGMtLjE5MyAyLjg0LS44NzYgNS43NjctMi4wNSA4Ljc4Mi0uOTA0IDIuMzI1LTIuNDQ2IDQuNDg1LTQuNjI1IDYuNDhBMSAxIDAgMDAzIDE3eiIgaWQ9ImIiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiMwMDAiIGZpbHRlcj0idXJsKCNhKSIgeGxpbms6aHJlZj0iI2IiLz48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNiIi8+PC9nPjwvc3ZnPg==);
    background-position: bottom left;
    transform: scaleX(-1);
  }

  @media (max-width: 600px) {
    max-width: calc(100% - 3rem);
  }
}

.message-input-wrapper {
  display: flex;

  > .Button {
    flex-shrink: 0;
    background: none !important;
    width: 3.375rem;
    height: 3.375rem;
    margin: 0;
    padding: 0.625rem;
    align-self: flex-end;

    @media (max-width: 600px) {
      width: 2.875rem;
      height: 2.875rem;
      margin: 0 0.25rem;
    }
  }

  > .input-group {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .recording-state {
    display: inline-block;
    position: relative;
    line-height: 3.5rem;
    height: 3.5rem;
    padding: 0 3.125rem 0 1rem;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background: var(--color-error);
      border-radius: 5px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: 1.375rem;
    }

    @media (max-width: 600px) {
      height: 2.875rem;
      line-height: 2.875rem;
    }
  }
}

#message-input-text,
#caption-input-text {
  position: relative;

  .form-control {
    min-height: 3.5rem;
    max-height: 15rem;
    padding-top: calc(1rem - var(--border-width));
    padding-bottom: calc(1rem - var(--border-width));
    overflow: hidden;
    line-height: 1.5rem;

    &.overflown {
      overflow-y: auto;
      overflow-x: hidden;
    }

    &.touched, &:focus {
      & + .placeholder-text {
        display: none;
      }
    }

    &.focus-disabled {
      pointer-events: none;
    }
  }

  .placeholder-text {
    position: absolute;
    bottom: 1rem;
    opacity: 0.5;
    pointer-events: none;

    @media (max-width: 600px) {
      bottom: 0.6875rem;
    }
  }
}

#message-input-text {
  flex-grow: 1;

  .form-control {
    margin-bottom: 0;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    caret-color: var(--color-text);

    @media (max-width: 600px) {
      height: 2.875rem;
      min-height: 2.875rem;
      padding-top: calc(0.6875rem - var(--border-width));
      padding-bottom: calc(0.6875rem - var(--border-width));
    }
  }

  &:not(:only-child) {
    .form-control {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ComposerEmbeddedMessage + .message-input-wrapper &,
  .WebPagePreview + .message-input-wrapper & {
    .form-control.overflown {
      margin-top: 0.75rem;
    }
  }

  .emoji {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 1px -5px;
    vertical-align: 0;
    pointer-events: none;
  }
}

#caption-input-text {
  .form-control {
    min-height: 3.25rem;
  }

  .placeholder-text {
    bottom: 1rem;
    left: 1rem;
  }
}
