.StickerButton {
  display: inline-block;
  width: 4.75rem;
  height: 4.75rem;
  margin: 0.125rem;
  border-radius: var(--border-radius-messages-small);
  background-size: contain !important;
  background: transparent no-repeat center;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .15s ease, opacity .3s ease !important;

  &:not(.shown) {
    display: inline-block !important;
    visibility: hidden;
  }

  &.set-button {
    width: 2.75rem !important;
    height: 2.75rem;
    margin: 0 0.5rem;
  }

  .AnimatedSticker {
    height: 100%;
  }

  &:hover {
    background-color: rgba(var(--color-text-secondary-rgb), 0.08);
  }
}
