.StickerButton {
  outline: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4.75rem;
  height: 4.75rem;
  margin: 0.125rem;
  padding: 0;
  border: 0;
  border-radius: var(--border-radius-messages-small);
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  overflow: hidden;
  font-size: 1.75rem;
  transition: background-color .15s ease;

  &.absolute-position {
    position: absolute;
  }

  &.set-button {
    width: 2.75rem !important;
    height: 2.75rem;
    margin: 0 0.5rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:hover {
    background-color: rgba(var(--color-text-secondary-rgb), 0.08);
  }
}
