.SymbolMenu {
  --menu-width: 26.25rem;
  --menu-height: 23.25rem;

  &-main {
    width: var(--menu-width);
    height: var(--menu-height);
  }

  .Transition > div:not(.active) {
    .picker-tab {
      .Loading {
        display: none;
      }
    }
  }

  .Transition.slide {
    .Loading {
      height: var(--menu-height);
    }
  }

  .backdrop {
    position: absolute;
    top: -1rem;
    right: auto;
    width: 3.5rem;
  }

  .bubble {
    padding: 0;
    width: var(--menu-width);
    overflow: hidden;
  }
}

.symbol-set {
  margin-bottom: 1rem;

  &-name {
    font-size: 1rem;
    line-height: 1.6875rem;
    font-weight: 500;
    margin: 0;
    padding-left: 0.5rem;
    color: rgba(var(--color-text-secondary-rgb), 0.75);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-container {
    position: relative;
  }

  &-button {
    flex-shrink: 0;
    width: 2.125rem !important;
    height: 2.125rem;
    margin: 0 0.25rem;
    padding: 0;
  }
}
