.Main {
  display: flex;
  text-align: left;

  > div {
    padding: 1rem;
  }

  > div:nth-child(1), > div:nth-child(3) {
    flex: 1;
    height: 100%;
    overflow: auto;
  }

  > div:nth-child(2) {
    flex: 3;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
}
