#Main {
  display: flex;
  height: 100%;
  text-align: left;
}

#LeftColumn, #RightColumn {
  flex: 1;
  min-width: 15.5rem;
  max-width: 26.5rem;
  height: 100%;
}

#LeftColumn {
  overflow: hidden;
  @media (min-width: 1680px) {
    border-left: 1px solid var(--color-borders);
  }
}

#RightColumn {
  overflow: auto;

  @media (min-width: 1680px) {
    border-right: 1px solid var(--color-borders);
  }
}

#MiddleColumn {
  flex: 2;
  border-left: 1px solid var(--color-borders);
  border-right: 1px solid var(--color-borders);

  &:last-child {
    flex: 3;
  }
}
