.Main {
  display: flex;
  height: 100%;
  text-align: left;

  > div:nth-child(1), > div:nth-child(3) {
    flex: 3;
    min-width: 250px;
    height: 100%;
    overflow: auto;
  }

  > div:nth-child(2) {
    flex: 6;
    border-left: 1px solid #ECEDEF;
    border-right: 1px solid #ECEDEF;
  }
}
