.SenderInfo {
  display: flex;
  align-content: center;
  color: white;
  opacity: .5;
  transition: .15s opacity;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .Avatar {
    margin-right: 1rem;
  }

  .meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    line-height: 1.45rem;
    font-weight: bolder;
  }

  .date {
    line-height: 1.25rem;
    font-size: 0.875rem;
    letter-spacing: -0.01rem;
  }
}
