.Audio {
  display: flex;
  align-items: flex-start;

  &.own {
    --color-text-secondary: var(--accent-color);

    .Button {
      --color-primary: var(--color-text-green);
      --color-primary-shade: var(--color-green);
      --color-white: var(--color-background-own);
    }
  }

  .toggle-play {
    margin-right: .75rem;
    width: 3.375rem;
    height: 3.375rem;

    &.smaller {
      width: 3rem;
      height: 3rem;

      i {
        font-size: 1.625rem;
        margin-top: -.025rem;
      }
    }

    i {
      position: absolute;
      font-size: 1.9375rem;
      margin-top: -.05rem;

      &.icon-play {
        margin-left: .15rem;
      }

      &.icon-pause {
        visibility: hidden;
      }
    }

    &.loading {
      .icon-play {
        animation: hide-icon .4s forwards ease-out;
      }

      .icon-pause {
        animation: hide-icon .4s forwards ease-out;
      }
    }

    &.play {
      .icon-play {
        animation: grow-icon .4s ease-out;
      }

      .icon-pause {
        animation: hide-icon .4s forwards ease-out;
        visibility: visible;
      }
    }

    &.pause {
      .icon-play {
        animation: hide-icon .4s forwards ease-out;
      }

      .icon-pause {
        animation: grow-icon .4s ease-out;
        visibility: visible;
      }
    }
  }

  .content {
    align-self: center;
    margin-top: .4375rem;
  }

  .title {
    font-weight: 500;
    margin: 0;
  }

  .voice-duration {
    margin: .25rem 0 0;
    font-size: .875rem;
    color: var(--color-text-secondary);

    span {
      margin-left: 0.25rem;
      font-size: 1.25rem;
      line-height: .875rem;
      vertical-align: middle;
    }
  }

  .waveform {
    margin-left: 1px;
  }

  .meta,
  .performer,
  .date {
    font-size: .875rem;
    line-height: 1;
    color: var(--color-text-secondary);
    margin: 0;
  }

  .performer + .date {
    margin-left: .625rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 1px;
      left: -.375rem;
      top: 50%;
      background: var(--color-text-secondary);
    }
  }

  .duration {
    margin: .1875rem 0 0;
    font-size: .875rem;
    color: var(--color-text-secondary);
  }

  &.smaller {
    .content {
      margin-top: .1875rem;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      line-height: 1.5rem;
    }

    .duration {
      line-height: 1.125rem;
    }
  }
}
