.ContextMenuContainer {
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-message-context-menu);
    background-color: rgba(0, 0, 0, .25);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s ease;

    body.animation-level-0 &, body.animation-level-1 & {
      display: none;
    }
  }

  &.open::before {
    opacity: 1;
  }
}
