.message-content.media {
  .media-inner {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.has-viewer {
      cursor: pointer;
    }
  }

  &.text .media-inner,
  &.is-reply .media-inner {
    margin-left: -0.5625rem;
    margin-right: -0.5625rem;
  }

  &.text .media-inner {
    margin-top: -0.375rem;
  }

  &.is-reply .media-inner,
  .sender-name ~ .media-inner {
    margin-top: 0.375rem;
    margin-bottom: -0.5rem;
  }

  // Moved below .is-reply to overwrite its styles
  &.text .media-inner {
    margin-bottom: 0.375rem;
  }

  .message-media-loading {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: opacity 250ms;
    will-change: opacity;

    &:not(.open) {
      opacity: 0;
    }
  }

  .message-media-duration,
  .message-upload-progress {
    background: rgba(0, 0, 0, .25);
    color: #fff;
    font-size: 0.75rem;
    position: absolute;
    left: .1875rem;
    top: .1875rem;
    z-index: 1;
    padding: 0 .375rem;
    border-radius: .75rem;
    line-height: 1.125rem;
  }

  .message-media-play-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgba(black, 0.25);
    padding: 0.75rem;

    i {
      font-size: 2.5rem;
      color: white;
    }
  }
}
