// General styles
.Message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.375rem;
  position: relative;
  --background-color: white;
  --hover-color: rgba(var(--color-text-secondary-rgb), 0.08);
  --max-width: 29rem;
  --accent-color: var(--color-primary);
  --secondary-color: var(--color-text-secondary);
  --meta-safe-area-base: 2.25rem;
  --meta-safe-area-size: var(--meta-safe-area-base);
  --deleting-translate-x: -50%;

  &::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    bottom: -0.25rem;
    left: -999rem;
    right: -999rem;
    background: rgba(81, 170, 255, 0.2);

    opacity: 0;
    transition: opacity 500ms;
  }

  &.focused::before {
    opacity: 1;
  }

  > .Avatar, > .message-content {
    opacity: 1;
    transform: scale(1) translateX(0);
    transform-origin: bottom;
    transition: opacity 150ms, transform 150ms ease-in;
  }

  &.last-in-group {
    margin-bottom: 0.625rem;
  }

  &.last-in-list {
    margin-bottom: 0.375rem;
  }

  &.own {
    flex-direction: row-reverse;
    --background-color: var(--color-background-own);
    --hover-color: rgba(var(--color-text-green-rgb), 0.12);
    --max-width: 30rem;
    --accent-color: var(--color-text-green);
    --secondary-color: var(--color-text-green);
    --color-code: var(--color-code-own);
    --meta-safe-area-base: 3.5rem;
    --deleting-translate-x: 50%;
  }

  &.has-menu-open .message-content,
  &.has-menu-open .Avatar {
    z-index: var(--z-message-highlighted);
  }

  &.is-deleting {
    > .Avatar, > .message-content {
      opacity: 0;
      transform: scale(0.3) translateX(var(--deleting-translate-x));
    }
  }

  &.has-views {
    --meta-safe-area-size: calc(var(--meta-safe-area-base) + 2.5rem);
  }

  &.was-edited {
    --meta-safe-area-size: calc(var(--meta-safe-area-base) + 2.5rem);

    &.has-views {
      --meta-safe-area-size: calc(var(--meta-safe-area-base) + 6rem);
    }
  }

  .Avatar {
    margin-right: 0.3rem;
  }

  .no-selection {
    user-select: none;
  }
}

// Border-radius styles
.message-content,
.media-inner,
.message-content.media .media-inner img,
.message-content.media .media-inner video,
.message-content.sticker .media-inner img {
  border-top-left-radius: var(--border-top-left-radius);
  border-top-right-radius: var(--border-top-right-radius);
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius);
}

.media-inner {
  overflow: hidden;

  &.small-image img {
    border-radius: 0 !important;
  }
}

.Message {
  --border-top-left-radius: var(--border-radius-messages);
  --border-top-right-radius: var(--border-radius-messages);
  --border-bottom-left-radius: var(--border-radius-messages);
  --border-bottom-right-radius: var(--border-radius-messages);

  &.not-own {
    &.first-in-group:not(.last-in-group) {
      --border-bottom-left-radius: var(--border-radius-messages-small);
    }

    &:not(.first-in-group):not(.last-in-group) {
      --border-top-left-radius: var(--border-radius-messages-small);
      --border-bottom-left-radius: var(--border-radius-messages-small);
    }

    &.last-in-group:not(.first-in-group) {
      --border-top-left-radius: var(--border-radius-messages-small);
    }

    &.last-in-group {
      --border-bottom-left-radius: var(--border-radius-messages-small);

      .message-content.can-have-appendix {
        --border-bottom-left-radius: 0;
      }
    }
  }

  &.own {
    &.first-in-group:not(.last-in-group) {
      --border-bottom-right-radius: var(--border-radius-messages-small);
    }

    &:not(.first-in-group):not(.last-in-group) {
      --border-top-right-radius: var(--border-radius-messages-small);
      --border-bottom-right-radius: var(--border-radius-messages-small);
    }

    &.last-in-group:not(.first-in-group) {
      --border-top-right-radius: var(--border-radius-messages-small);
    }

    &.last-in-group {
      --border-bottom-right-radius: var(--border-radius-messages-small);

      .message-content.can-have-appendix {
        --border-bottom-right-radius: 0;
      }
    }
  }
}

.message-content {
  &.text {
    .media-inner {
      --border-bottom-left-radius: 0;
      --border-bottom-right-radius: 0;
    }
  }

  &:not(.sticker).is-reply .media-inner,
  .sender-name ~ .media-inner {
    --border-top-left-radius: 0;
    --border-top-right-radius: 0;
  }

  &.document {
    padding: .5rem !important;

    .File + .text-content {
      margin-top: .5rem;
    }
  }
}

// Bubble appendix styles
.has-appendix-own {
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -.1875rem;
    right: -.5625rem;
    width: .5625rem;
    height: 1.25rem;
    // background-image: url('../../../../assets/chat-bubble-green.svg');
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PGZpbHRlciB4PSItNTAlIiB5PSItMTQuNyUiIHdpZHRoPSIyMDAlIiBoZWlnaHQ9IjE0MS4yJSIgZmlsdGVyVW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBpZD0iYSI+PGZlT2Zmc2V0IGR5PSIxIiBpbj0iU291cmNlQWxwaGEiIHJlc3VsdD0ic2hhZG93T2Zmc2V0T3V0ZXIxIi8+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMSIgaW49InNoYWRvd09mZnNldE91dGVyMSIgcmVzdWx0PSJzaGFkb3dCbHVyT3V0ZXIxIi8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAuMDYyMTk2MjQ4MiAwIDAgMCAwIDAuMTM4NTc0MTQ0IDAgMCAwIDAgMC4xODUwMzczNjQgMCAwIDAgMC4xNSAwIiBpbj0ic2hhZG93Qmx1ck91dGVyMSIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik02IDE3SDBWMGMuMTkzIDIuODQuODc2IDUuNzY3IDIuMDUgOC43ODIuOTA0IDIuMzI1IDIuNDQ2IDQuNDg1IDQuNjI1IDYuNDhBMSAxIDAgMDE2IDE3eiIgaWQ9ImIiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiMwMDAiIGZpbHRlcj0idXJsKCNhKSIgeGxpbms6aHJlZj0iI2IiLz48dXNlIGZpbGw9IiNFRUZGREUiIHhsaW5rOmhyZWY9IiNiIi8+PC9nPjwvc3ZnPg==);
    background-position: bottom right;
  }
}

.has-appendix-not-own {
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -.1875rem;
    left: -.5625rem;
    width: .5625rem;
    height: 1.25rem;
    // background-image: url('../../../../assets/chat-bubble-white.svg');
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PGZpbHRlciB4PSItNTAlIiB5PSItMTQuNyUiIHdpZHRoPSIyMDAlIiBoZWlnaHQ9IjE0MS4yJSIgZmlsdGVyVW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBpZD0iYSI+PGZlT2Zmc2V0IGR5PSIxIiBpbj0iU291cmNlQWxwaGEiIHJlc3VsdD0ic2hhZG93T2Zmc2V0T3V0ZXIxIi8+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMSIgaW49InNoYWRvd09mZnNldE91dGVyMSIgcmVzdWx0PSJzaGFkb3dCbHVyT3V0ZXIxIi8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAuMDYyMTk2MjQ4MiAwIDAgMCAwIDAuMTM4NTc0MTQ0IDAgMCAwIDAgMC4xODUwMzczNjQgMCAwIDAgMC4xNSAwIiBpbj0ic2hhZG93Qmx1ck91dGVyMSIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0zIDE3aDZWMGMtLjE5MyAyLjg0LS44NzYgNS43NjctMi4wNSA4Ljc4Mi0uOTA0IDIuMzI1LTIuNDQ2IDQuNDg1LTQuNjI1IDYuNDhBMSAxIDAgMDAzIDE3eiIgaWQ9ImIiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiMwMDAiIGZpbHRlcj0idXJsKCNhKSIgeGxpbms6aHJlZj0iI2IiLz48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNiIi8+PC9nPjwvc3ZnPg==);
    background-position: bottom left;
  }
}

// Content type styles
.message-content {
  position: relative;
  max-width: var(--max-width);

  .text-content {
    margin: 0;
    word-break: break-word;
    line-height: 1.3125;
  }

  .sender-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--accent-color);

    & + .File {
      margin-top: .25rem;
    }
  }

  &.has-solid-background {
    box-shadow: 0 1px 2px rgba(114, 114, 114, 0.25);
    background: var(--background-color);
  }

  &.can-have-appendix, &.media.is-reply {
    padding: .3125rem .5rem .375rem;
  }

  &.can-have-appendix {
    .text-content::after {
      content: '';
      display: inline-block;
      width: var(--meta-safe-area-size);
      height: 1rem;
    }
  }
}

.media-inner {
  position: relative;

  video,
  img {
    display: block;
  }

  .full-media, .message-media-loading {
    position: absolute;
  }

  .full-media {
    opacity: 0;
    transition: opacity .3s ease;

    &.open {
      opacity: 1;
    }

    &:not(.shown) {
      display: none;
    }
  }

  .thumbnail {
    opacity: 1;
    filter: blur(0px);
    transition: opacity .3s ease, filter .3s ease;

    &.blur {
      filter: blur(7px);
    }

    &.empty {
      visibility: hidden;
    }

    &.fade-out {
      opacity: 0;
    }
  }
}

.forwarded-message {
  .message-content:not(.sticker) & {
    margin-top: 0.25rem;
    border-left: 0.125rem solid var(--accent-color);
    padding-left: 0.5rem;
  }

  --border-top-left-radius: var(--border-radius-messages-small);
  --border-top-right-radius: var(--border-radius-messages-small);
  --border-bottom-left-radius: var(--border-radius-messages-small);
  --border-bottom-right-radius: var(--border-radius-messages-small);

  .media-inner {
    margin: 0 !important;
    margin-bottom: 0.25rem !important;
  }
}

.long-word-break-all {
  word-break: break-all;
}

.text-entity-link {
  color: var(--color-links) !important;
  text-decoration: none;
  word-break: none;
  cursor: pointer;

  &:hover, &:active, &:visited {
    color: var(--color-links-hover) !important;
    text-decoration: underline;
  }
}

.text-entity-code, .text-entity-pre {
  color: var(--color-code);
  white-space: pre-wrap;
  margin: 0;
}
