@import '../../../styles/utils';

.MessageMeta {
  position: absolute;
  height: 1.25rem;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: rgba(#999999, 0.6);
  border-radius: .65rem;
  padding: 0 .25rem;
  color: white;

  .message-time {
    font-size: 0.75rem;
    line-height: 1;
    margin-right: .1875rem;
    white-space: nowrap;
  }

  .message-views {
    font-size: 0.75rem;
    line-height: 1;
    margin-left: .1875rem;
  }

  .icon-channelviews {
    margin-left: 0.125rem;
    margin-right: 0.375rem;
    font-size: 1.125rem;
    position: relative;
    top: -0.0625rem;
  }

  .has-solid-background & {
    color: rgba(var(--color-text-meta-rgb), 0.75);
    background: none;
  }

  .media:not(.text) &,
  .Message .custom-shape & {
    background: rgba(0,0,0, 0.2);
    color: white !important;
    opacity: 1;
    bottom: .25rem;
    right: .25rem;
    left: auto;
    height: 1.125rem;
    padding: 0 .3125rem 0 .375rem;
  }

  .is-forwarded.media:not(.text) & {
    bottom: 0.9rem;
    right: 0.8rem;
  }

  .emoji-only & {
    right: 0;
  }

  .Message:not(.own).has-views .emoji-only &,
  .Message:not(.own).was-edited .emoji-only & {
    left: 60%;
    right: auto;
  }

  .Message.own .has-solid-background & {
    color: var(--color-text-green);
  }

  .MessageOutgoingStatus {
    display: inline-block;
    line-height: 1;
    font-size: 1.1875rem;
    margin-left: -.1875rem;
  }
}

.Message:not(.own) {
  .custom-shape .reply-message + .MessageMeta {
    right: auto;
    left: 13.2rem;
    bottom: 0.25rem;
  }

  .emoji-only-1 .reply-message + .MessageMeta {
    left: 2.5rem;
  }

  .emoji-only-2 .reply-message + .MessageMeta {
    left: 5.5rem;
  }

  .emoji-only-3 .reply-message + .MessageMeta {
    left: 6.5rem;
  }
}
