.message-content.custom-shape {
  line-height: 1.2;
  font-size: 10rem;

  .reply-message {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  .text-content {
    margin-bottom: 1rem;
  }

  .media-inner {
    line-height: 1;
    font-size: 1rem;
    flex-shrink: 0;

    .full-media {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .reply-message {
    display: flex;
    align-items: flex-start;

    > p {
      margin-bottom: 0;
    }

    .EmbeddedMessage {
      margin-left: 0.5rem;
      border-radius: var(--border-radius-messages);
    }
  }

  .emoji {
    display: inline-block;
    color: transparent;

    &::selection {
      background-color: var(--color-selection-highlight-emoji);
      color: transparent;
    }
  }

  &.emoji-only-1 {
    font-size: 5rem;

    .emoji {
      width: 5rem;
      height: 5rem;
    }

    .emoji,
    .text-content {
      margin-bottom: 1rem;
    }
  }

  &.emoji-only-2 {
    font-size: 4rem;

    .emoji {
      width: 4rem;
      height: 4rem;
      margin-bottom: .725rem;
    }

    .text-content {
      margin-bottom: 1.1rem;
    }
  }

  &.emoji-only-3 {
    font-size: 3rem;


    .emoji {
      width: 3rem;
      height: 3rem;
      margin-bottom: .725rem;
    }

    .text-content {
      margin-bottom: 1.125rem;
    }
  }

  .Message:not(.own) & {
    --hover-color: var(--color-reply-hover);
  }

  .Message.own & {
    --hover-color: var(--color-reply-own-hover);

    .reply-message {
      flex-direction: row;

      .EmbeddedMessage {
        margin-right: 0.5rem;
      }
    }
  }
}
