.input-group {
  position: relative;
  margin-bottom: 1.5rem;

  label {
    display: block;
    padding: 0 0.25rem;
    position: absolute;
    left: 0.7rem;
    top: -0.4rem;
    background-color: var(--color-background);
    font-size: 0.75rem;
    font-weight: 400;
    color: transparent;
    opacity: 0;
    transition: all 0.15s ease;
  }

  // TODO Revise and remove if the component isn't used
  .input-clear {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 3.375rem;
    height: 3.375rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease, color .15s ease;
    font-size: 1.5rem;
    color: rgba(var(--color-text-secondary-rgb), 0.8);

    &:hover {
      color: rgba(var(--color-text-secondary-rgb), 1);
    }
  }

  &.touched label,
  &.error label,
  .form-control:focus + label,
  .form-control.focus + label {
    opacity: 1;
  }

  &.touched input::placeholder,
  .form-control:focus::placeholder,
  .form-control.focus::placeholder {
    color: transparent;
  }

  &.touched label {
    color: var(--color-text-secondary);
  }

  &.error label {
    color: var(--color-error) !important;
  }
}

.form-control {
  --border-width: 1px;
  display: block;
  width: 100%;
  height: 3.375rem;
  padding: calc(0.75rem - var(--border-width)) calc(.9rem - var(--border-width));
  border: var(--border-width) solid var(--color-borders);
  border-radius: var(--border-radius-default);
  color: var(--color-text);
  outline: none;
  transition: border-color 0.15s ease;

  font-size: 1rem;
  line-height: 1.25rem;

  &:hover {
    border-color: var(--color-gray);
  }

  &:focus,
  &.focus {
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary);
    caret-color: var(--color-primary);

    & + label {
      color: var(--color-primary);
    }

    // TODO Revise and remove if the component isn't used
    & + .input-clear {
      opacity: 1;
    }
  }

  .error & {
    border-color: var(--color-error);
    box-shadow: inset 0 0 0 1px var(--color-error);
    caret-color: var(--color-error);
  }
}

select.form-control {
  option {
    line-height: 2rem;
  }
}

textarea.form-control {
  resize: none;
  overflow: hidden;
  line-height: 1.5rem;
  padding-top: calc(1rem - var(--border-width));
  padding-bottom: calc(1rem - var(--border-width));
}

.input-group.password-input {
  position: relative;

  .form-control {
    padding-right: 3.375rem;
  }

  .toggle-password {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.375rem;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none !important;

    color: var(--color-text-secondary);
    opacity: 0.7;
    font-size: 1.5rem;

    &:hover, &:focus {
      opacity: 1;
    }
  }
}
