@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon.ttf?8tkig7') format('truetype'),
    url('../assets/fonts/icomoon.woff?8tkig7') format('woff'),
    url('../assets/fonts/icomoon.svg?8tkig7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: Remove unused icons */

.icon-add:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e919";
}
.icon-back:before {
  content: "\e90d";
}
.icon-next:before {
  content: "\e93c";
}
.icon-down:before {
  content: "\e920";
}
.icon-up:before {
  content: "\e958";
}
.icon-checkbox-empty:before {
  content: "\e917";
}
.icon-checkbox:before {
  content: "\e915";
}
.icon-checkbox-block:before {
  content: "\e916";
}
.icon-checkbox-on:before {
  content: "\e918";
}
.icon-radio-off:before {
  content: "\e944";
}
.icon-radio-on:before {
  content: "\e945";
}
.icon-delete-filled:before {
  content: "\e91c";
}
.icon-delete:before {
  content: "\e91d";
}
.icon-help:before {
  content: "\e92a";
}
.icon-info:before {
  content: "\e92b";
}
.icon-edit:before {
  content: "\e923";
}
.icon-new-chat-filled:before {
  content: "\e939";
}
.icon-eye-closed:before {
  content: "\e925";
}
.icon-eye:before {
  content: "\e924";
}
.icon-loader:before {
  content: "\e95b";
}
.icon-right-pane:before {
  content: "\e95c";
}
.icon-message-delivered:before {
  content: "\e900";
}
.icon-message-read:before {
  content: "\e901";
}
.icon-message-sending:before {
  content: "\e94c";
}
.icon-message-sending-error:before {
  content: "\e94d";
}
.icon-chats-placeholder:before {
  content: "\e913";
}
.icon-large-pause:before {
  content: "\e92e";
}
.icon-large-play:before {
  content: "\e92f";
}
.icon-pause:before {
  content: "\e93d";
}
.icon-play:before {
  content: "\e943";
}
.icon-microphone:before {
  content: "\e935";
}
.icon-photo:before {
  content: "\e940";
}
.icon-camera:before {
  content: "\e90e";
}
.icon-camera-add:before {
  content: "\e90f";
}
.icon-active-sessions:before {
  content: "\e902";
}
.icon-add-user-filled:before {
  content: "\e904";
}
.icon-add-user:before {
  content: "\e905";
}
.icon-admin:before {
  content: "\e906";
}
.icon-animals:before {
  content: "\e907";
}
.icon-archive:before {
  content: "\e908";
}
.icon-attach:before {
  content: "\e909";
}
.icon-avatar-archived-chats:before {
  content: "\e90a";
}
.icon-avatar-deleted-account:before {
  content: "\e90b";
}
.icon-avatar-saved-messages:before {
  content: "\e90c";
}
.icon-car:before {
  content: "\e910";
}
.icon-channel:before {
  content: "\e911";
}
.icon-channelviews:before {
  content: "\e912";
}
.icon-copy:before {
  content: "\e91a";
}
.icon-data:before {
  content: "\e91b";
}
.icon-delete-user:before {
  content: "\e91e";
}
.icon-document:before {
  content: "\e91f";
}
.icon-download:before {
  content: "\e921";
}
.icon-eats:before {
  content: "\e922";
}
.icon-flag:before {
  content: "\e926";
}
.icon-forward:before {
  content: "\e927";
}
.icon-full-screen:before {
  content: "\e928";
}
.icon-group:before {
  content: "\e929";
}
.icon-lamp:before {
  content: "\e92c";
}
.icon-language:before {
  content: "\e92d";
}
.icon-location:before {
  content: "\e930";
}
.icon-lock:before {
  content: "\e931";
}
.icon-logout:before {
  content: "\e932";
}
.icon-menu:before {
  content: "\e933";
}
.icon-message:before {
  content: "\e934";
}
.icon-more:before {
  content: "\e936";
}
.icon-mute:before {
  content: "\e937";
}
.icon-new-channel:before {
  content: "\e938";
}
.icon-new-group:before {
  content: "\e93a";
}
.icon-new-private:before {
  content: "\e93b";
}
.icon-permissions:before {
  content: "\e93e";
}
.icon-phone:before {
  content: "\e93f";
}
.icon-pin:before {
  content: "\e941";
}
.icon-pinned-chat:before {
  content: "\e942";
}
.icon-recent:before {
  content: "\e946";
}
.icon-reply:before {
  content: "\e947";
}
.icon-saved-messages:before {
  content: "\e948";
}
.icon-search:before {
  content: "\e949";
}
.icon-send:before {
  content: "\e94a";
}
.icon-send-outline:before {
  content: "\e94b";
}
.icon-settings:before {
  content: "\e94e";
}
.icon-small-screen:before {
  content: "\e94f";
}
.icon-smile:before {
  content: "\e950";
}
.icon-sport:before {
  content: "\e951";
}
.icon-stop:before {
  content: "\e952";
}
.icon-unarchive:before {
  content: "\e953";
}
.icon-unlock:before {
  content: "\e954";
}
.icon-unmute:before {
  content: "\e955";
}
.icon-unpin:before {
  content: "\e956";
}
.icon-unread:before {
  content: "\e957";
}
.icon-user:before {
  content: "\e959";
}
.icon-username:before {
  content: "\e95a";
}
