@import 'reboot';
@import 'variables';
@import 'typography';
@import 'forms';
@import 'icons';

html, body {
  height: 100%;
  background: var(--color-background);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  color: var(--color-text);

  @media (max-width: 1440px) {
    font-size: 14px;
  }
}

#root {
  height: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

* {
  box-sizing: border-box;

  // TODO @pixel-perfect
  ::-webkit-scrollbar {
    width: 5px;
    height: 80px;
    background-color: transparent; /* or add it to the track */
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(78, 78, 78, 0.3);
    border-radius: 2.5px;
    -webkit-box-shadow: inset 0 0 6px rgba(100, 100, 100, 0.5);
  }
}
