@import 'reboot';
@import 'variables';
@import 'typography';
@import 'forms';
@import 'icons';

html, body {
  height: 100%;
  background: var(--color-background);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  color: var(--color-text);

  @media (max-width: 1440px) {
    font-size: 14px;
  }
}

#root {
  height: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

* {
  box-sizing: border-box;

  // TODO Show during scroll.
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}
