@import 'reboot';
@import 'variables';
@import 'typography';
@import 'forms';

html, body {
  height: 100%;
  background: white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

#root {
  height: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

* {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}
