@import 'reboot';
@import 'variables';
@import 'forms';
@import 'icons';
@import '../assets/fonts/roboto.css';

html, body {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  overflow-x: hidden;

  @media (max-width: 1440px) {
    font-size: 14px;
  }
}

#root {
  height: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.not-implemented, .not-implemented * {
  cursor: not-allowed !important;
}

* {
  box-sizing: border-box;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: .25rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(78, 78, 78, 0.3);
    border-radius: .125rem;
  }

  @media (min-width: 1367px) {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(78, 78, 78, 0);
      -webkit-transition: background-color .3s ease;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(78, 78, 78, 0.3);
      }
    }
  }
}

div[role="button"] {
  outline: none !important;
}
