.Badge {
  min-width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  background: var(--color-gray);
  border-radius: 0.75rem;
  padding: 0 .45rem;
  color: white;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;

  .Chat.private & {
    background: var(--color-green);
  }
}
