.Chat {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 8px;

  &:hover {
    background: #f8f8f8;
  }

  &:active {
    background: #efefef;
  }

  &.selected {
    background: #efefef;
  }

  .Avatar {
    margin-right: 0.5rem;
  }

  .info {
    flex: 1;
    // TODO @css-magic
    width: 80%;

    .title {
      flex: 1;
      overflow: hidden;
      margin-top: 8px;
      font-size: 0.8rem;
    }

    .last-message {
      margin-top: 3px;
      width: 80%;
      overflow: hidden;
      font-size: 0.7rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
