.Chat {
  position: relative;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  margin-bottom: 0.35rem;
  border-radius: var(--border-radius-default);

  &:hover, &.selected {
    background: var(--color-chat-hover);
  }

  &:active {
    background: var(--color-chat-active);
  }

  .Avatar {
    margin-right: 0.5rem;
  }

  .info {
    flex: 1;
    overflow: hidden;

    .title, .subtitle {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: .15rem;
    }

    h3, .last-message {
      font-size: 1rem;
      line-height: 1.6875rem;
      margin: 0;
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .last-message {
      color: var(--color-text-secondary);
    }
  }
}
