.Chat {
  position: relative;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  margin-bottom: 0.35rem;
  border-radius: var(--border-radius-default);

  &:hover {
    background: #f8f8f8;
  }

  &:active {
    background: #efefef;
  }

  &.selected {
    background: #efefef;
  }

  .Avatar {
    margin-right: 0.5rem;
  }

  .info {
    flex: 1;
    overflow: hidden;

    .title {
      overflow: hidden;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 1rem;
        line-height: 2rem;
        margin: 0;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .last-message {
      width: 80%;
      overflow: hidden;
      font-size: 1rem;
      line-height: 1;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      opacity: .5;
    }
  }
}
