.LastMessageMeta {
  margin-right: .2rem;
  padding: .15rem 0;
  flex-shrink: 0;
  font-size: 0.75rem;
  line-height: 1;

  .MessageOutgoingStatus {
    color: #66b161;
    margin-right: 0.5rem;
  }

  .time {
    color: #777777;
  }
}
