.LastMessageMeta {
  padding: 2px 4px;
  content: "12:31";
  font-size: 0.8rem;
  line-height: 1;

  .sending-state {
    color: #66b161;
    margin-right: 0.5rem;
  }

  .last-message-time {
    color: #777777;
  }
}
