#LeftHeader {
  padding: 0.5rem 1rem;
  padding-right: 0.875rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: var(--z-layout-left-header);
  background-color: var(--color-background);

  .Button {
    margin-right: 1rem;
  }
}
