.MessageMeta {
  position: absolute;
  bottom: 0.125rem;
  right: 0.45rem;
  opacity: 0.7;
  background: #999999;
  border-radius: 9px;
  padding: 0.2rem;
  color: white;
  font-size: 0.75rem;
  line-height: 1;
  vertical-align: text-bottom;
  white-space: nowrap;

  .text & {
    opacity: 1;
    color: #777777;
    background: none;
  }

  .own .text & {
    color: #4fae4e;
  }
}
