.Message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.7rem;

  &.own {
    flex-direction: row-reverse;
  }

  .Avatar {
    margin-right: 0.5rem;
  }

  .content {
    position: relative;
    max-width: 80%;
    padding-right: 20px;
  }

  .text {
    border-radius: 12px;
    background: white;
    padding: 8px 9px;
    padding-right: 40px;
    font-size: 0.8rem;
    box-shadow: 0 1px 2px rgba(114, 114, 114, 0.25);

    .long-word-break-all {
      word-break: break-all;
    }

    a {
      color: #4898e4;
      text-decoration: none;

      &:hover, &:active, &:visited {
        color: #51aaff;
      }
    }
  }

  .emoji-only-1, .emoji-only-2, .emoji-only-3 {
    line-height: 1em;
    margin-top: 5px;
    margin-bottom: -5px;

    &.emoji-only-1 {
      font-size: 5rem;
    }

    &.emoji-only-2 {
      font-size: 4rem;
    }

    &.emoji-only-3 {
      font-size: 3rem;
    }
  }

  &.own {
    & .Avatar {
      margin-right: 0;
      margin-left: 0.5rem;
    }

    & .text {
      background-color: #EEFEDF;
      padding-right: 60px;
    }
  }
}
