.Message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.7rem;

  &.own {
    flex-direction: row-reverse;
  }

  .Avatar {
    margin-right: 0.5rem;
  }

  .text {
    border-radius: 8px;
    background: white;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }

  .emoji-only-1, .emoji-only-2, .emoji-only-3 {
    line-height: 1em;
    margin-top: 5px;
    margin-bottom: -5px;

    &.emoji-only-1 {
      font-size: 5rem;
    }

    &.emoji-only-2 {
      font-size: 4rem;
    }

    &.emoji-only-3 {
      font-size: 3rem;
    }
  }

  &.own {
    & .Avatar {
      margin-right: 0;
      margin-left: 0.5rem;
    }

    & .text {
      background-color: #EEFEDF;
    }
  }
}
