@import '../../../../styles/utils';

.MessageMeta {
  position: absolute;
  height: 1.1rem;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: rgba(#999999, 0.6);
  border-radius: 9px;
  padding: 0 0.375rem;
  color: white;

  .message-time {
    font-size: 0.7rem;
    line-height: 1;
    margin-right: 0.1rem;
  }

  .text & {
    color: var(--color-text-meta);
    background: none;
  }

  .photo:not(.text) & {
    background: rgba(0,0,0, 0.2);
    color: white !important;
    bottom: 0.25rem;
    right: 0.25rem;
  }

  .emoji-only-1 &, .emoji-only-2 &, .emoji-only-3 & {
    right: 0;
  }

  .own .text & {
    color: var(--color-text-green);
  }

  .MessageOutgoingStatus {
    display: inline-block;
    height: 1.1rem;
    font-size: 1.1rem;

    .text &, .photo & {
      @include icon-styles() {
        position: relative;
        top: -0.2rem;
      }
    }
  }
}
