.MiddleColumn {
  display: flex;
  justify-content: center;
  padding: 5px;
  background: rgb(230, 235, 238);

  .select-chat-note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
