//TODO @pixel-perfect

.DialogHeader, .GroupHeader {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ECEDEF;
  background: #ffffff;
  padding: .5rem 1.2rem;

  .Avatar {
    margin-right: 1rem;
  }

  .title {
    padding-top: 5px;
    font-weight: bold;
    font-size: 0.9em;
  }

  .status {
    font-size: 0.8em;
    color: #868e96;

    &.online {
      color: var(--color-primary);
    }
  }
}
