.NewGroup {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &-inner {
    flex-grow: 1;
    overflow: hidden;

    &.step-2 {
      padding: 0 1.25rem;
      display: flex;
      flex-direction: column;

      .error {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 1.5rem 0.25rem;
        color: var(--color-error);
      }

      .group-members-heading {
        color: var(--color-text-secondary);
        font-size: 1rem;
        font-weight: 500;
        margin: 1rem 0.25rem;
      }

      .group-members-list {
        margin: 0 -1.25rem;
        padding: 0 1rem 1rem;

        overflow-x: hidden;
        flex-grow: 1;
      }

      .chat-item-clickable {
        cursor: default;
        pointer-events: none;
      }
    }
  }

}
