.Avatar {
  flex: none;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  background: var(--color-primary);
  color: white;
  display: flex;

  &.size-small {
    width: 2.125rem;
    height: 2.125rem;
    font-size: 0.8rem;
  }

  &.size-medium {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1rem;
  }
}
