@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.Loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .icon-loader {
    display: block;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: var(--color-primary);
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &::before {
      position: relative;
      top: -1px;
    }
  }
}
