#Main {
  display: flex;
  height: 100%;
  text-align: left;

  @media (min-width: 1276px) {
    position: relative;
    overflow: hidden;
  }
}

#LeftColumn {
  flex: 1;
  min-width: 18rem;
  max-width: 26.5rem;
  height: 100%;
}

#LeftColumn {
  @media (min-width: 1680px) {
    border-left: 1px solid var(--color-borders);
  }

  @media (max-width: 1275px) {
    flex: 2;
  }

  @media (max-width: 925px) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 26.5rem;

    transform: translate3d(-5rem, 0, 0);
    transition: transform .3s ease;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: black;
      opacity: .5;
      transition: opacity .3s ease;
    }

    .is-left-column-shown & {
      transform: translate3d(0, 0, 0);

      &::after {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  @media (max-width: 600px) {
    max-width: none;
    width: 100vw;
    transform: translate3d(-20vw, 0, 0);
  }
}

#RightColumn {
  @media (min-width: 1680px) {
    border-right: 1px solid var(--color-borders);
  }
}

#MiddleColumn {
  flex: 3;
  border-left: 1px solid var(--color-borders);
  border-right: 1px solid var(--color-borders);

  @media (max-width: 1275px) {
    border-right: none;
  }

  @media (max-width: 925px) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
    transition: transform .3s ease;

    .is-left-column-shown & {
      transform: translate3d(26.5rem, 0, 0);
    }
  }

  @media (max-width: 600px) {
    border-left: none;

    .is-left-column-shown & {
      transform: translate3d(100vw, 0, 0);
    }

    .is-right-column-shown & {
      transform: translate3d(-20vw, 0, 0);
    }
  }
}
