.Badge {
  min-width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  background: var(--color-gray);
  border-radius: 0.75rem;
  padding: 0 .45rem;
  color: white;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;

  &.mention, &:not(.pinned):not(.muted) {
    background: var(--color-green);
  }

  &.pinned {
    width: 1.5rem;
    padding: 0;

    i {
      font-size: 1.5rem;
    }
  }

  &.mention {
    width: 1.5rem;
    padding: 0.25rem;

    i {
      font-size: 1rem;
      vertical-align: super;
    }
  }
}

.Badge-wrapper {
  display: flex;
  margin-left: 1.5rem;

  .Badge {
    margin-left: 0.5rem;
  }
}
