.ChatList {
  padding: 0 .125rem .5rem .4375rem;

  .Loading {
    min-height: 75vh;
  }

  .no-chats {
    font-size: small;
    color: var(--color-text-meta);
    margin-top: 2rem;
    text-align: center;
  }
}
