@import '../../../styles/mixins';

.ContactList {
  height: 100%;
  overflow-y: auto;
  padding: 0 1rem 1rem;

  // @optimization
  @include while-transition() {
    .chat-item-clickable:nth-child(n + 16) {
      display: none;
    }
  }

  .no-results {
    height: 100%;
    margin: 0;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
  }
}
