#LeftColumn-main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;

  > .Transition {
    flex-grow: 1;
  }

  .ChatFolders {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .TabList {
      justify-content: flex-start;
      box-shadow: 0 0 2px rgba(114, 114, 114, 0.25), inset 0 -1px 0 0 var(--color-borders);
      padding-left: .5625rem;
      padding-bottom: 1px;
      border-bottom: 0;
    }

    .Tab {
      flex: 0 0 auto;
      padding-left: 0.625rem;
      padding-right: 0.625rem;

      > span {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    > .Transition {
      flex-grow: 1;
    }
  }
}
