#RightOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-media-viewer);

  .overlay-main {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--right-column-width);
    height: 100%;
    transform: translate3d(var(--right-column-width), 0, 0);
    transition: transform var(--layer-transition);
    background: var(--color-background);
    box-shadow: 0 .25rem .5rem .1rem rgba(114, 114, 114, 0.25);

    &.open {
      transform: translate3d(0, 0, 0);
    }
  }

  .overlay-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
