.RightHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem .8125rem;

  h3 {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 1.375rem;
  }

  .SearchInput {
    margin-left: 1rem;
  }

  .more-button {
    margin-left: auto;
  }
}
