.Audio {
  display: flex;
  align-items: flex-start;

  &.media-inner {
    overflow: visible;
  }

  &.own {
    --color-text-secondary: var(--accent-color);
    --color-interactive-active: var(--color-text-green);
    --color-interactive-inactive: rgba(var(--color-text-green-rgb), 0.40);

    .Button {
      --color-primary: var(--color-text-green);
      --color-primary-shade: var(--color-green);
      --color-white: var(--color-background-own);
    }
  }

  .Button.toggle-play {
    margin-right: .75rem;
    width: 3.375rem;
    height: 3.375rem;

    &.smaller {
      width: 3rem;
      height: 3rem;

      i {
        font-size: 1.625rem;
        margin-top: -.025rem;
      }
    }

    i {
      position: absolute;
      font-size: 1.9375rem;
      margin-top: -.05rem;

      &.icon-play {
        margin-left: .15rem;
      }

      &.icon-pause {
        visibility: hidden;
      }
    }

    &.loading {
      .icon-play {
        animation: hide-icon .4s forwards ease-out;
      }

      .icon-pause {
        animation: hide-icon .4s forwards ease-out;
      }
    }

    &.play {
      .icon-play {
        animation: grow-icon .4s ease-out;
      }

      .icon-pause {
        animation: hide-icon .4s forwards ease-out;
        visibility: visible;
      }
    }

    &.pause {
      .icon-play {
        animation: hide-icon .4s forwards ease-out;
      }

      .icon-pause {
        animation: grow-icon .4s ease-out;
        visibility: visible;
      }
    }
  }

  .content {
    align-self: center;
    margin-top: .4375rem;
    min-width: 0;
    flex-grow: 1;
  }

  .title {
    font-weight: 500;
    margin: 0;
  }

  .voice-duration {
    margin: .25rem 0 0;
    font-size: .875rem;
    color: var(--color-text-secondary);

    span {
      margin-left: 0.25rem;
      font-size: 1.5rem;
      line-height: .875rem;
      vertical-align: middle;
    }
  }

  &:not(.own) .voice-duration span {
    color: var(--color-primary);
  }

  .waveform {
    cursor: pointer;
    margin-left: 1px;
  }

  .meta,
  .performer,
  .date {
    font-size: .875rem;
    line-height: 1;
    color: var(--color-text-secondary);
    margin: 0;
  }

  .performer + .date {
    &::before {
      content: '\00a0\2022\00a0';
    }
  }

  .duration {
    margin: .1875rem 0 0;
    font-size: .875rem;
    color: var(--color-text-secondary);
  }

  .seekline {
    width: calc(100% - 2px);
    padding-left: 6px;
    margin-bottom: .3125rem;
    height: 12px;
    position: relative;
    margin-left: -6px;
    top: 1px;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 6px;
      top: 6px;
      height: 2px;
      background-color: var(--color-interactive-inactive);
      border-radius: 2px;
    }
  }

  .seekline-progress {
    position: absolute;
    height: 2px;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    top: 6px;
    left: 6px;

    i {
      position: absolute;
      width: 100%;
      background-color: var(--color-interactive-active);
      height: 2px;
      border-radius: 2px;
      right: 100%;
    }
  }

  .seekline-thumb {
    position: absolute;
    width: 100%;
    top: 7px;
    left: 0;

    i {
      pointer-events: none;
      position: absolute;
      width: 100%;
      right: 100%;

      &::after {
        content: '';
        position: absolute;
        top: -6px;
        right: -12px;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: var(--color-interactive-active);
      }
    }
  }

  &.smaller {
    .content {
      margin-top: .1875rem;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      line-height: 1.5rem;
    }
    .meta,
    .performer,
    .date {
      line-height: 1.0625rem;
    }

    .seekline {
      top: 2px;
      margin-bottom: .5rem;
    }

    .duration {
      line-height: 1rem;
    }

    .media-loading {
      top: 0.1875rem;
      left: 0.1875rem;
    }
  }
}
