.ForwardPicker {
  height: 100%;
  position: relative;

  #RightOverlay & {
    height: calc(100% - 60px);
  }

  > .Loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(white, 0.75);
  }
}
