#UiLoader {
  height: 100%;

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1680px;
    height: 100%;
    z-index: var(--z-ui-loader-mask);
    display: flex;
  }

  .blank {
    flex: 1;
    background: white;
  }

  .left {
    flex: 1;
    background: white;
    min-width: 15.5rem;
    max-width: 26.5rem;
  }

  .middle {
    flex: 3;
    border-left: 1px solid var(--color-borders);
    border-right: 1px solid var(--color-borders);
    background: rgb(230, 235, 238);
  }
}
