#auth-code-form {
  display: inline-block;
  margin-top: 10%;
  width: 250px;
  padding: 50px;
  text-align: center;

  div {
    margin: 10px 0;
  }

  #monkey {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #f6c137;
    border-radius: 50%;
  }

  h2 {
    font-size: 1.3rem;
  }

  .note {
    font-size: x-small;
  }
}
