.MessageList {
  position: relative;
  // TODO @css-magic
  display: grid;
  flex: 1;
  width: 100%;
  height: calc(100% - 1.1rem);
  overflow-y: auto;
  overflow-x: hidden;
  overflow-anchor: none;

  &.no-avatars .Message > .Avatar {
    display: none;
  }

  .messages-container {
    width: 100%;
    height: 100%;
    max-width: var(--messages-container-width);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem 1rem .5rem 1.125rem;
  }

  &.bottom-padding {
    .messages-container {
      padding-bottom: 2.5rem;
    }
  }

  .Message,
  .message-action-header {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -0.25rem;
      bottom: -0.25rem;
      left: -4rem;
      right: -4rem;
      background: var(--color-primary);
      border-radius: var(--border-radius-messages-small);
      z-index: -1;

      opacity: 0;
      transition: opacity 500ms;

      .no-right-column & {
        left: -17rem;
        right: -17rem;
      }

      @media (max-width: 1659px) {
        left: -0.75rem;
        right: -0.75rem;

        .no-right-column & {
          left: calc((75vw - var(--messages-container-width) + 1rem) * -0.5);
          right: calc((75vw - var(--messages-container-width) + 1rem) * -0.5);
        }
      }

      @media (max-width: 889px) {
        .no-right-column & {
          left: -0.75rem;
          right: -0.75rem;
        }
      }
    }

    &.focused::before {
      opacity: 0.2;
    }

    &.is-forwarding::before {
      opacity: 0.4;
    }
  }

  .message-date-header,
  .message-action-header {
    text-align: center;

    > span {
      display: inline-block;
      background: rgba(var(--color-text-secondary-rgb), 0.45);
      color: white;
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 1.5rem;
      padding: 0 .5rem;
      border-radius: 0.75rem;
    }
  }

  .message-date-header {
    position: sticky;
    top: 0.625rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: var(--z-message-date-header);
    pointer-events: none;

    &.is-sticky {
      transition: opacity .3s ease;
      opacity: 0;
    }
  }

  &.is-scrolling {
    .message-date-header.is-sticky {
      opacity: 1;
    }
  }

  .message-action-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .action-link {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .message-date-header + .message-action-header {
    margin-top: -0.5rem;
  }

  // TODO @pixel-perfect when designs are ready
  .unread-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    border-radius: var(--border-radius-messages);
    background: rgba(0, 0, 0, 0.15);
    margin-bottom: 0.625rem;
    color: white;
    font-size: 0.9rem;
  }
}
