#middle-column-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(230, 235, 238);
    background-image: url('../../assets/chat-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: background-image .3s ease, filter .3s ease;

    body.animation-level-0 & {
      transition: none;
    }

    @media (max-width: 600px) {
      background-image: url('../../assets/chat-bg-mobile.jpg');
    }
  }

  .custom-bg-image &::before {
    margin: -1rem;
    background-image: var(--custom-background) !important;
    filter: blur(0px);
  }

  .custom-bg-image.blurred &::before {
    filter: blur(12px);
  }

  @media screen and (min-width: 1276px) {
    body.animation-level-2 &::before {
      margin: -16rem -5rem -20rem 0;
      overflow: hidden;
      transform: scale(1);
      transform-origin: left center;
      transition: transform var(--layer-transition);
    }

    body.animation-level-2 .custom-bg-image &::before {
      margin: -16rem -5rem -20rem -1rem;
      transition: transform var(--layer-transition), background-image .3s ease, filter .3s ease;
    }

    body.animation-level-2.is-right-column-shown &::before {
      transform: scale(0.67);
    }
  }
}

#MiddleColumn {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;

  @media (max-width: 600px) {
    overflow: hidden;
  }

  .messages-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .messaging-disabled {
    width: 100%;
    padding: 1.25rem 1rem;
    background: var(--color-chat-hover);
    color: var(--color-text-secondary);
    z-index: 10;

    > span {
      display: block;
      text-align: center;

      @media (min-width: 1276px) {
        transition: transform var(--layer-transition);
        transform: translateX(0);

        body.is-right-column-shown & {
          transform: translateX(calc(var(--right-column-width) / -2));
        }
      }
    }
  }
}
