#MiddleColumn {
  display: flex;
  justify-content: center;
  background: rgb(230, 235, 238) url('../../assets/chat-bg.jpg') no-repeat center;
  background-size: cover;
  height: 100%;

  .messages-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
