.StickerMenu {
  .TabList {
    position: relative;
    height: 3rem;
  }

  .Tab {
    width: 33.33333333%;

    &:nth-child(1).active ~ .active-tab {
      width: 2.75rem;
      left: 16.5%;
      margin-left: -1.5rem;
    }

    &:nth-child(2).active ~ .active-tab {
      width: 4rem;
      left: 50%;
      margin-left: -2.25rem;
    }

    &:nth-child(3).active ~ .active-tab {
      width: 2.375rem;
      left: 83%;
      margin-left: -1.375rem;
    }
  }

  &-main {
    width: 26.25rem;
    height: 23.25rem;
  }

  .picker-tab {
    &:not(.active) {
      display: none;
    }
  }

  .backdrop {
    position: absolute;
    top: -1rem;
    right: auto;
    width: 3.5rem;
  }

  .bubble {
    padding: 0;
    width: 26.25rem;
    overflow: hidden;
  }
}

.symbol-set {
  margin-bottom: 1rem;

  &-name {
    font-size: 1rem;
    line-height: 1.6875rem;
    font-weight: 500;
    margin: 0;
    padding-left: 0.5rem;
    color: rgba(var(--color-text-secondary-rgb), 0.75);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-container {
    position: relative;
    opacity: 0;
    transition: opacity .3s ease;

    &.open {
      opacity: 1;
    }
  }

  &-button {
    flex-shrink: 0;
    width: 2.125rem !important;
    height: 2.125rem;
    margin: 0 0.25rem;
    padding: 0;
  }
}
