.Badge {
  min-width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  background: var(--color-gray);
  border-radius: 0.75rem;
  padding: 0 .45rem;
  color: white;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;

  &:not(.pinned):not(.muted) {
    background: var(--color-green);
  }

  &.mac-os-fix {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    line-height: 1;
  }

  &.pinned {
    width: 1.5rem;
    padding: 0;

    i {
      font-size: 1.5rem;
    }
  }
}
