.Chat {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  margin-bottom: 0.35rem;
  border-radius: var(--border-radius-default);

  &:hover, &.selected {
    background: var(--color-chat-hover);

    .Avatar.online::after {
      border-color: var(--color-chat-hover)
    }
  }

  .Avatar {
    margin-right: 0.5rem;
  }

  .info {
    flex: 1;
    overflow: hidden;

    .title, .subtitle {
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-right: .15rem;
    }

    h3 {
      width: auto;
      max-width: 80%;
    }

    h3, .last-message {
      font-size: 1rem;
      line-height: 1.6875rem;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .VerifiedIcon {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 0.25rem;
    }

    .icon-muted-chat {
      margin-left: 0.25rem;
      margin-top: -0.1rem;
      color: var(--color-text-secondary);
      opacity: 0.4;
    }

    .LastMessageMeta {
      margin-left: auto;
    }

    .last-message {
      flex-grow: 1;
      color: var(--color-text-secondary);

      .sender-name {
        color: var(--color-text);

        &::after {
          content: ': ';
        }
      }
    }
  }
}
