.ContactList {
  height: 100%;
  overflow-y: auto;
  padding: 0 1rem 1rem;

  .no-results {
    height: 100%;
    margin: 0;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
  }
}
