#LeftHeader {
  padding: 0.5rem 1.25rem .5rem 0.8125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--color-background);

  .Button {
    margin-right: 0.875rem;
  }
}
