#sign-in-form {
  margin-top: 20%;
  width: 250px;
  padding: 50px;
  text-align: center;

  div {
    margin: 10px 0;
  }

  #logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #4ea4f6;
    border-radius: 50%;
  }

  h2 {
    font-size: 1.3rem;
  }

  .note {
    font-size: x-small;
  }
}
