.AnimationFadeIn {
  animation: AnimationFadeIn .2s;
  position: relative;
  z-index: var(--z-animation-fade);
}

.AnimationFadeOut {
  animation: AnimationFadeOut .2s;
  position: relative;
  z-index: var(--z-animation-fade);
}

@keyframes AnimationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes AnimationFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
