.Button {
  outline: none;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background: #4ea4f6;
  padding: 10px;
  color: white;
  cursor: pointer;

  &:hover {
    background: #51aaff;
  }

  &:active {
    background: #4b9dec;
  }
}
