@import '../../styles/flags';

.CountryCodeInput {
  cursor: pointer;

  .input-group {
    z-index: 10;
  }

  .bubble {
    width: 100%;
    max-height: 23.5rem;
    overflow-y: auto;
  }

  .DropdownMenuItem {
    button {
      display: flex;
      align-items: center;
    }

    &.no-results button {
      justify-content: center;
      padding: .5rem 1rem;

      span {
        font-size: 0.9rem;
      }
    }
  }

  .country-flag {
    font-size: 2rem;
    margin-right: 2rem;

    &.sprite {
      color: transparent;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('../../assets/flags.png');
      background-repeat: no-repeat;
      display: block;
    }
  }

  .country-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
    text-align: left;
  }

  .country-code {
    margin-left: auto;
    opacity: 0.5;
  }
}
