.ListItem {
  position: relative;

  .ListItem-button {
    width: 100%;
    background: none;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    line-height: 1.5rem;
    white-space: nowrap;
    color: var(--color-text);
    border-radius: var(--border-radius-default);
    --ripple-color: rgba(0, 0, 0, .08);

    > i {
      font-size: 1.5rem;
      margin-right: 2rem;
      color: var(--color-text-secondary);
    }
  }

  &.disabled {
    pointer-events: none;

    .ListItem-button {
      opacity: 0.5;
    }
  }

  &:not(.disabled) {
    .ListItem-button {
      cursor: pointer;

      &:hover, &:focus {
        background-color: var(--color-chat-hover);
      }
    }
  }

  body.animation-level-0 & {
    .ripple-container {
      display: none;
    }
  }

  &:not(.has-ripple),
  body.animation-level-0 & {
    .ListItem-button:active {
      background-color: var(--color-chat-active);
      transition: none !important;
    }
  }

  &.has-menu-open .ListItem-button {
    background-color: var(--color-chat-hover);
  }

  &.narrow {
    margin-bottom: 0.75rem;

    .ListItem-button {
      padding: 0.5rem 1rem;
    }
  }

  &.inactive {
    pointer-events: none;
  }

  &-context-menu {
    position: absolute;

    .bubble {
      width: auto;

      .MenuItem button {
        padding-left: 1rem !important;
        padding-right: 2rem !important;
      }
    }
  }
}
