.Transition {
  position: relative;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-fill-mode: forwards !important;
    will-change: transform;
    transform: translate3d(0, 0, 0);
  }

  &.slide {
    > :nth-child(2) {
      transform: translateX(100%);
    }

    &.animating {
      > :nth-child(1) {
        animation: slide-out .25s ease;
      }

      > :nth-child(2) {
        animation: slide-in .25s ease;
      }
    }
  }

  &.slide.backwards {
    > :nth-child(2) {
      transform: translateX(-100%);
    }

    &.animating {
      > :nth-child(1) {
        animation: slide-in-backwards .25s ease;
      }

      > :nth-child(2) {
        animation: slide-out-backwards .25s ease;
      }
    }
  }

  &.slide-up {
    > :nth-child(1) {
      animation: slide-up-out .25s ease;
    }

    > :nth-child(2) {
      animation: slide-up-in .25s ease;
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-backwards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-out-backwards {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-up-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
